<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myCrypto- {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Conversor Crypto</h1>
            <section>
                {% block breadcrumbs %}{% endblock %}
            </section> 
            <h2>{% block h2 %}{% endblock %}</h2>
        </header>

        <section>
            {% block bloque_de_formato %}{% endblock %}
        </section>  

        <footer>
            &copy; 2021. Todos los derechos // Gonzalo Guimerans
        </footer>      
    </body>    
</html>