<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gonzalo Guimerans - Proyecto Crypto -{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/static/uikit.min.css"/>
        <link rel="stylesheet" href="/static/pico.css"> 
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/uikit.min.js"></script>
        <script src="https://use.fontawesome.com/0001febe64.js"></script>
    </head>
    <body>
        
        <header data-theme="dark" class="dark">
            <div class="uk-card-header ">
                <h1>Conversor Crypto</h1>
                {% block breadcrumbs %}{% endblock %}                    
            </div>        
        </header>
        <main>
            <div class="container"> 
                {% block h2 %}{% endblock %}  
                {% block bloque_de_formato %}{% endblock %}
            </div>  
        </main>

        <footer data-theme="dark" class="dark">
            <span>&copy; 2021. Todos los derechos // Gonzalo Guimerans</span>
        </footer>      
    </body>    
</html>