<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myCrypto- {% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/pico.css">
        <link rel="stylesheet" href="/static/css/styles.css"> 
    </head>
    <body>
        <header>
            <h1>Conversor Crypto</h1>
            <section>
                {% block breadcrumbs %}{% endblock %}
            </section> 
            <h2>{% block h2 %}{% endblock %}</h2>
        </header>

        <section>
            {% block bloque_de_formato %}{% endblock %}
        </section>  

        <footer>
            &copy; 2021. Todos los derechos // Gonzalo Guimerans
        </footer>      
    </body>    
</html>