{% extends "base.html" %}
{% block title %}Compra de cryptomonedas{% endblock %}

{% block breadcrumbs %}
<ul class="uk-breadcrumb">
        <li><a href="/">Movimientos</a></li>
        <li><a href="/estado">Estado de la inversión</a></li>
        <li class="uk-disabled"><a>Compra de Cryptos</a></li>
        <li><span>Compra y valoración de cryptomonedas</span></li>
        </ul> 
{% endblock %}

{% block h2 %}<h2 class="title_text uk-text-left">Compra de Cryptos</h2>{% endblock %}


{% block bloque_de_formato %}
        <form action="compra" method="post">
                {{ form.hidden_tag() }}
                {% set canConfirm = form.to_quantity.data %}
                <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                                <div>                                
                                        {{ form.from_currency.label }} 
                                        {{ form.from_currency }}

                                        {% if cryptosDisponibles|length > 0 %} 
                                                {% for crypto in cryptosDisponibles %}          
                                                        <input type="hidden" id="{{ crypto['to_currency'] }}" name="{{ crypto['to_currency'] }}" value="{{ crypto['importe_destino']}}" />
                                                {% endfor %}
                                        {% endif %}
                                </div>
                                <div>
                                        {{ form.to_currency.label }}
                                        {{ form.to_currency(placeholder='Introduce un valor(p.e. 1234.56)', class="error-data" if form.to_currency.errors else "") }}
                                        {% for error in form.to_currency.errors %}
                                                <span class="err-msg">
                                                        {{ error }}
                                                </span>
                                        {% endfor %}
                                </div>
                        </div>

                        <div class="uk-margin">
                                <div class="calc">
                                        {{ form.from_quantity.label }}
                                        {{ form.from_quantity(placeholder='Introduce un valor(p.e. 1234.56)', class="error-data" if form.from_quantity.errors else "") }}
                                        {{ form.calc(class="button buttonCalculadora", title="calcula conversión") }}
                                        
                                        {% for error in form.from_quantity.errors %}
                                                <span class="err-msg">
                                                        {{ error }}
                                                </span>
                                        {% endfor %}
                                </div>
                                <div>
                                        {{ form.to_quantity.label }}
                                        {{ form.to_quantity(placeholder='Este campo se calculará automáticamente', readonly="readonly") }}
                                </div>  
                        </div> 
                        <div class="uk-margin align-right">
                                <div>
                                        {{ form.precio_unitario.label }}
                                        {{ form.precio_unitario(placeholder='Este campo se calculará automáticamente', readonly="readonly") }}
                                </div>
                        </div>
                        <div class="uk-margin border-top">
                                {% if canConfirm %}
                                        <a class="button uk-button uk-button-secondary uk-button-small" role="button" href="#" uk-toggle="target: #confirmForm">Aceptar</a>
                                {% endif %}        
                                <a class="button uk-button uk-button-secondary uk-button-small" role="button" href="compra">Resetear Formulario</a>
                                <a class="button uk-button uk-button-secondary uk-button-small" role="button" href="/">Volver</a>
                        </div>
                </fieldset>
        </form>
        
        <!-- Ventana de confirmacion-->
        <div id="confirmForm" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">Confirmación de compra</h2>
                        <p>Revise los datos antes de confirmar la operación</p>
                        <form action="compra" method="post">
                                <fieldset class="uk-fieldset">
                                        <div class="uk-margin">
                                                <div>
                                                        {{ form.monedaOrigen.label }}
                                                        {{ form.monedaOrigen(readonly="readonly") }}
                                                </div>
                                                <div>
                                                        {{ form.monedaDestino.label }}
                                                        {{ form.monedaDestino(readonly="readonly") }}
                                                </div>
                                        </div>
                                        <div class="uk-margin">
                                                <div>
                                                        {{ form.importeOrigen.label }}
                                                        {{ form.importeOrigen(readonly="readonly") }}
                                                </div>
                                                <div>
                                                        {{ form.importeDestino.label }}
                                                        {{ form.importeDestino(readonly="readonly") }}
                                                </div>
                                        </div>
                                        <div class="uk-margin align-right">
                                                <div>
                                                        {{ form.precioUnitario.label }}
                                                        {{ form.precioUnitario(readonly="readonly") }}
                                                </div>
                                        </div>
                                        <div class="uk-margin border-top">
                                                {{ form.submit(class="button uk-button uk-button-secondary uk-button-small") }}
                                                <a class="button uk-button uk-button-secondary uk-button-small uk-modal-close" role="button" href="/">Cancelar</a>
                                        </div>
                                </fieldset>
                        </form>
                </div> 
        </div>

{% endblock %}