{% extends "base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">

        <li><a href="/">Movimientos</a></li>
        <li><a href="/estado">Estado de la inversión</a></li>
        <li>Compra de Cryptos</li>
      </ul> 
{% endblock %}

{% block h2 %}Compra de Cryptos{% endblock %}


{% block bloque_de_formato %}
        <form action="compra" method="post">
                {{ form.hidden_tag() }}
                <div class="field">
                        {{ form.from_currency.label }}
                        {{ form.from_currency }}                        
                </div>
                <div class="field">
                        {{ form.from_quantity.label }}
                        {{ form.from_quantity(placeholder='Introduce un valor(p.e. 1234.56)', class="error-data" if form.from_quantity.errors else "") }}
                        {% for error in form.from_quantity.errors %}
                                <p class="err-msg">
                                        {{ error }}
                                </p>
                        {% endfor %}
                </div>      
                <div class="field">
                        {{ form.to_currency.label }}
                        {{ form.to_currency }}
                </div>    
                <div class="field">
                        {{ form.to_quantity.label }}
                        {{ form.to_quantity(placeholder='Introduce un valor(p.e.1234.56)', class="error-data" if form.to_quantity.errors else "") }}
                        {% for error in form.to_quantity.errors %}
                                <p class="err-msg">
                                        {{ error }}
                                </p>
                        {% endfor %}
                </div>  
                <div class="field">     
                        <label for="precioUnitario">Precio Unitario</label>
                        <input type="number" name="precioUnitario">
                <div class="field">
                        {{ form.submit }}                      
                </div>
                <div class="field">
                        <input type="reset" value="Cancelar">
                </div>
                <div class="field">
                        <button><a href="/">Volver</a></button>
                </div>
                </div>        
        </form>

{% endblock %}