{% extends "base.html" %}

{% block title %} Compra de cryptos {% endblock %}

{% block bloque_de_formato %}
        <H1>Compra de Cryptos</H1>
        <form action="compra" method="post">
                <div class="field">
                        <label for="fromMoneda">From</label>
                        <select name="fromMoneda" id="monedas">
                                {% for moneda in monedas %} 
                                  <option value="{{ moneda }}">{{ moneda }}</option>
                                {% endfor %} 
                        </select> 
                </div>
                <div class="field">
                        <label for="cantidadFrom">Cantidad</label>
                        <input type="number" name="cantidadFrom">
                </div>      
                <div class="field">
                        <label for="toMoneda">To</label>
                        <select name="toMoneda" id="monedas">
                                {% for moneda in monedas %} 
                                  <option value="{{ moneda }}">{{ moneda }}</option>
                                {% endfor %} 
                        </select> 
                </div>    
                <div class="field">
                        <label for="cantidadTo">Cantidad</label>
                        <input type="number" name="cantidadTo">
                </div>  
                <div class="field">     
                        <label for="precioUnitario">Precio Unitario</label>
                        <input type="number" name="precioUnitario">
                <div class="field">
                        <input type="submit" value="Aceptar">                        
                </div>
                <div class="field">
                        <input type="submit" value="Cancelar">                        
                </div>
                </div>        
        </form>

{% endblock %}