{% extends "base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">

        <li><a href="/">Movimientos</a></li>
        <li><a href="/compra">Compra de cryptos</a></li>
        <li>Estado de la inversión</li>
      </ul> 

{% endblock %}

{% block h2 %}Estado de la inversion{% endblock %}


{% block bloque_de_formato %}
        <form action="estado" method="get">                
                <div class="field">
                        <label for="totalEuros">Invertido</label>
                        <input type="text" name="totalEuros" value="{{ totalEuros }}" disabled>
                </div>
                <div class="field">
                        <label for="valorActual">Valor actual</label>
                        <input type="text" name="valorActual"value="{{ valorActual }}"disabled>
                </div>                      
                <div class="field">
                        <button><a href="/">Volver</a></button>
                </div>              
                </div>        
        </form>

{% endblock %}