{% extends "base.html" %}

{% block breadcrumbs %}
<ul class="uk-breadcrumb">
        <li><a href="/compra">Compra de Cryptos</a></li>
        <li><a href="/estado">Estado de la inversión</a></li>
        <li class="uk-disabled"><a>Movimientos</a></li>
        <li><span>Listado de compra y venta de cryptomonedas</span></li>
        </ul>
{% endblock %}

{% block h2 %}<h2 class="title_text uk-text-left">Movimientos</h2>{% endblock %}

{% block bloque_de_formato %}
        {% if movimientos|length > 0 %} 
                <div class="uk-overflow-auto centrarTabla">                                                    
                        <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-justify ">
                                <thead>
                                        <tr>                                        
                                                <th class="uk-width-small">Fecha</th>
                                                <th class="uk-width-small">Hora</th>
                                                <th class="uk-width-small">From</th>
                                                <th class="uk-width-small">Cantidad</th>
                                                <th class="uk-width-small">To</th>
                                                <th class="uk-width-small">Cantidad</th>
                                                <th class="uk-width-small">P.U</th>
                                        </tr>
                                </thead>                                
                        {% for registro in movimientos %}          
                                <tbody>
                                        <tr>
                                        
                                                <td class="uk-width-small">{{ registro["date"] }}</td>
                                                <td class="uk-width-small">{{ registro["time"] }}</td>
                                                <td class="uk-width-small">{{ registro["from_currency"] }}</td>
                                                <td class="uk-width-small">{{ registro["from_quantity"] }}</td>
                                                <td class="uk-width-small">{{ registro["to_currency"] }}</td>
                                                <td class="uk-width-small">{{ registro["to_quantity"] }}</td>
                                                <td class="uk-width-small">{{ registro["from_quantity"]/registro["to_quantity"]}}</td>
                                </tbody>        
                                        </tr>          
                        {% endfor %}   
                        </table>
                </div>  
        {% else %}
                <h2 class="title_text uk-text-left">No hay movimientos</h2>
        {% endif %}              
                            
        <div class="uk-margin border-top">
                <form class="uk-form-stacked" action="compra">
                        <button type="submit" class="uk-button uk-button-secondary uk-button-large">+</button>
                </form>        
                <form action="estado">
                        <button type="submit" class="uk-button uk-button-secondary uk-button-large">Estado</button>
                </form>
        </div>                             
{% endblock %}