{% extends "base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">

        <li><a href="/compra">Compra de Cryptos</a></li>
        <li><a href="/estado">Estado de la inversión</a></li>
        <li>Movimientos</li>
      </ul> 

{% endblock %}

{% block h2 %}Movimientos{% endblock %}

{% block bloque_de_formato %}        
        <table>
                <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>From</th>
                        <th>Cantidad</th>
                        <th>To</th>
                        <th>Cantidad</th>
                        <th>P.U</th>
                </tr>
        {% for registro in movimientos %}          
                <tr>
                        
                                <td>{{ registro[0] }}</td>
                                <td>{{ registro[1] }}</td>
                                <td>{{ registro[2] }}</td>
                                <td>{{ registro[3] }}</td>
                                <td>{{ registro[4] }}</td>
                                <td>{{ registro[5] }}</td>
                                <td>{{ registro[6] }}</td>
                        
                </tr>          
        {% endfor %}    
        </table>
        <form action="compra">
                <input type="submit" value="+">
        </form>        
        <form action="estado">
                <input type="submit" value="Estado">
        </form>
{% endblock %}